* {padding:0; margin:0}
ul.menu {width:auto; height:auto; float:left; padding-left:10px;display:inline; color:#FFF; font-size:11px; text-align:center;}
ul.menu * {margin:0; padding:0}
ul.menu a {text-decoration:none; color:#FFF;}
ul.menu li.dropLi {width:75px;height:auto;float:left;margin-left:25px;padding-top:3px;color:#FFF;font-size:11px;text-align:center;position:relative;background:url(../images/nav-li-bg.png) no-repeat;}
ul.menu ul {position:absolute; top:65px;left:-45px; background:#707070; opacity:0;}
ul.menu ul li {position:relative;border:1px solid #707070;margin:0; text-align:center}
ul.menu ul li a {display:block; padding:3px 7px 5px; color:#fff; background-color:#405e66}
ul.menu ul li a:hover {background-color:#263337; color:#fff}
ul.menu ul ul {left:0px; top:-1px}
ul.menu .menulink {height:32px; width:75px; margin:0 auto; padding-bottom:5px; float:left;display:inline;}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(images/header_over.gif)}
ul.menu .sub {background:#405e66 url(images/arrow.gif) 136px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}
ul.dropMenu{margin-top:15px;}

/*tambahan style*/
ul.menu li span {height:32px; width:75px; margin:0 auto; padding-bottom:10px; float:left;display:inline;}

.daftar {
background:url(../images/note32.png) no-repeat center top;
}

.pengusulan {
background:url(../images/comment32.png) no-repeat center top;
}

.info {
background:url(../images/information.png) no-repeat center top;
}

.laporan {
background:url(../images/linedpaperpencil32.png) no-repeat center top;
}

.profil {
background:url(../images/user32.png) no-repeat center top;
}


