@import url("reset.css");
@import url('tabie.css');
@import url('dropdownie.css');

body {
font-size:11px;
}

span.daftar,span.pengusulan, span.info, span.laporan, span.profil {
position:relative;
left:20px;
margin-bottom:-5px;
}

.newBook .contentTop {
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:337px;
float:left;
}

.newBook .contentContainer {
width:100%;
margin-bottom:10px;
float:left;
}

.bookDirectory .contentTop {
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:315px;
float:left;
}

.searchBox .contentTop {
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:337px;
float:left;
}

.searchBox {
width:337px;
padding-top:15px;
padding-bottom:10px;
margin:0 auto;
padding-right:2px;
}

.buttonSubmit {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Verdana, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin:7px 5px 5px 10px;
   float:left;
   }
.buttonSubmit:hover {
   border-top-color: #41a7eb;
   background: #41a7eb;
   color: #FFF;
   }
.buttonSubmit:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
 .suggestionsBox {
		position: relative;
		left: 173px;
		top: -590px;
		width: 520px;
		padding:2px;
		color: #232323;
		height:15px;
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
		position:relative;
		top:33px;
	}
	
	.suggestionsBox .suggestionList li {
		list-style-type:none;
		padding:4px 2px;
		cursor: pointer;
		position:relative;
		top:-25px;
		right:18px;
		background:#fff;
		border-left:1pt solid #dbdbdb;
		border-right:1pt solid #dbdbdb;
		width:525px;
		cursor:pointer;
	}
	
	.suggestionList li:hover {
		background-color: #83bbf7;
	}
	
	.suggestionsCari2 {
		position: relative;
		left: -5px;
		top: -765px;
		width: 200px;
		padding:2px;
		color: #232323;
		height:150px;
	}
	
	.suggestionListCari2 {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionListCari2 li {
		list-style-type:none;
		padding:4px 2px;
		cursor: pointer;
		position:relative;
		top:3px;
		left:19px;
		background:#fff;
		border-left:1pt solid #dbdbdb;
		border-right:1pt solid #dbdbdb;
		width:214px;
	}
	
	li:hover.suggestionListCari2  {
		background-color: #83bbf7;
	}
	
	.suggestionsCari3 {
		position: relative;
		left: -5px;
		top: -777px;
		width: 250px;
		padding:2px;
		color: #232323;
		height:150px;
	}
	
	.suggestionListCari3 {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionListCari3 li {
		list-style-type:none;
		padding:4px 2px;
		cursor: pointer;
		position:relative;
		top:3px;
		left:19px;
		background:#fff;
		border-left:1pt solid #dbdbdb;
		border-right:1pt solid #dbdbdb;
		width:215px;
	}
	
	li:hover.suggestionListCari3  {
		background-color: #83bbf7;
	}
	
	.suggestionsAlert {
		position: relative;
		left: -5px;
		top: -892px;
		width: 250px;
		padding:2px;
		color: #232323;
		height:150px;
	}
	
	.suggestionAlert {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionAlert li {
		list-style-type:none;
		padding:4px 2px;
		cursor: pointer;
		position:relative;
		top:3px;
		left:19px;
		background:#fff;
		border-left:1pt solid #dbdbdb;
		border-right:1pt solid #dbdbdb;
		width:219px;
	}
	
	li:hover.suggestionAlert  {
		background-color: #83bbf7;
	}
	
span.buttonSubmit {
   border-top: 1px solid #96d1f8;
   filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3e779d', endColorstr='#65a9d7');
   padding: 4.5px 9px;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Verdana, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin:7px 5px 5px 10px;
   float:left;
   }
span:hover.buttonSubmit {
   border-top-color: #41a7eb;
   background: #41a7eb;
   color: #FFF;
   }
span:active.buttonSubmit {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
img.search {
position:relative;top:4px;right:2px;cursor:pointer;
}


.tborder{border:1px solid #d4d4d4;padding:1px;width:605px;margin-top:25px;margin-bottom:10px;}
.catbg{background:#ddd;font-size:12px;font-weight:bold;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeded, endColorstr=#cccccc);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEDED, endColorstr=#CCCCCC)";color:#404040;}
	.bordercolor{background-color:#dddada;padding:0;}
	.windowbg{background:#f6f6f6;}
	.windowbg2{background:#ebebeb;}