
    /* style untuk id photos */
    #photos {
	     text-align:center;
    }

    #photos img {
	    cursor:pointer;
	    margin:0 5px;
	    background-color:#fff;
	    border:1px solid #ccc;
	    padding:2px;
	    -moz-border-radius:4px;
	    -webkit-border-radius:4px;
    }

    /* style untuk elemen didalam overlay */
    .details {
	     position:absolute;
         top:15px;
	     right:15px;
	     font-size:11px;
	     color:#fff;
	     width:218px;
		 padding-left:20px;
    }
	
	.details p{
		padding-left:20px;
	}

    .details h3 {
	     color:#aba;
	     font-size:14px;
	     margin:0 0 -10px 0;
		 padding-left:20px;
    }


/* the overlayed element */
.simple_overlay {	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:600px;	
	min-height:150px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

	/* end overlay styling */



/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
