/* gaya (style) untuk list (pager) */

.PageTitle {
	color:#0293DB;
	font-size:18px;
	font-weight:bold;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.resultTitle {
	color:#FF8400;
	font-size:13px;
	font-weight:bold;
}

.resultH {
background:#ebebeb;
}

.resultDesc {
font-size:11px;
color:#000000;
}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 40%;
    left: 65%;
    
    margin-left: -300px;
    width: 250px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

table .containerTable {
border:1px solid #6699cc;
border-collapse:collapse;
font-size:11px;
margin:20px 0px 10px 0px;
text-align:left;
}

table .containerTable th{
border-bottom:1px dashed #6699cc;
color:#424242;
font-size:11px;
font-weight:bold;
padding:10px 8px;
text-align:center;
}

table .containerTable tr:hover td {
background:none repeat scroll 0 0 #d0dafd;
color:#292929;
}

table .containerTable td{
color:#424242;
padding:7px 8px;
}

table.newsTable {
width:610px;
position:relative;
line-height:110%;
}

table.newsTable p{
padding-bottom:15px;
}

table.newsTable ul{
list-style-type:circle;
padding-bottom:5px;
}

table.newsTable ul li{
padding-bottom:10px;
}

table.newsTable ol{
list-style-type:decimal;
padding-bottom:5px;
padding-left:50px;
}

table.newsTable ol li{
padding-bottom:10px;
}

table.forum{
padding-right:5px;
}

table .forum th{
background:-moz-linear-gradient(top, #f1f1f1, #dedede);
color:#424242;
font-size:12px;
font-weight:bold;
padding:5px 4px;
text-align:left;
height:22px;
}

table .forum td{
color:#424242;
padding:7px 8px;
}

table .forum td u{
color:#424242;
cursor:pointer;
}

.ControlErr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: 1px solid #999999;
	background-color: yellow;
	color: red;
	z-index: -10;
}


.ControlRead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	background: #CCCCCC;
	z-index: -10;
}

table.dataGrid
{
	background: white;
	border-collapse: collapse;
}

table.dataGrid th, table.dataGrid td
{
	font-size: 11px;
	border: 1px #cbdad5 solid;
	padding: 0.3em;
}

table.dataGrid th
{
	background: #f0f0f0;
	text-align: center;
}

table.dataGrid th a
{
	color: #555;
	text-decoration: none;
}

table.dataGrid th a:hover
{
	color: #333;
	border-bottom: 1px solid gray;
}

table.dataGrid tr.odd
{
	background: #f7f9f4;
}

table.dataGrid tr.bold
{
	color:#007d3f;
	font-weight:bold;
}

table.dataGrid tr a
{
    color:#555;
    font-size:6pt;
}

table.dataGrid tr.bold a
{
    color:#555;
    font-size:6pt;
    font-weight:bold;
}

table.dataGrid tr:hover
{
    background-color:#bad9fe;
}

table.dataGrid td:hover a
{
    color:#650b01;
}

table.dataGrid td
{
	text-align:left;
	vertical-align:top;
}

table.dataGrid input.ControlStyle {
	font-size:8pt;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background:#cecece;
	border:1pt solid #7f7f7f;
	color:#2d2d2d;
}

.popWindowtr input.cari {
		font-size:8pt;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background:#cecece;
	border:1pt solid #7f7f7f;
	color:#2d2d2d;
}

.popWindowtr input.reset {
		font-size:9pt;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	background:#cecece;
	border:1pt solid #7f7f7f;
	color:#2d2d2d;
}

.popWindow {
	background-color:#e0ffdf;
	border:2px solid #efefef;
	border-right:2px solid #777;
	border-bottom:2px solid #777;
	display:none;
	position:absolute;
	text-align:left;
}

.popWindow h3 {
	padding:3px;
}

.popWindowtr {
	background-color:#cecece;
}

.btn_next {
	background: url(../images/tombol/a_next.png) no-repeat center;
	background-color: #cecece;
	border:1px outset #cecece;
	height:20px;
	width:20px;
}

.btn_prev {
	background: url(../images/tombol/a_back.png) no-repeat center;
	background-color: #cecece;
	border:1px outset #cecece;
	height:20px;
	width:20px;
}

.btn_kontak {
	background: url(../images/tombol/users16.png) no-repeat center;
	background-color: #eee;
	border:1px outset #777;
	height:20px;
	width:20px;
}

.btn_close {
	background: url(../images/tombol/delete.png) no-repeat center;
	background-color: #cecece;
	border:0px outset #cecece;
	height:20px;
	width:20px;
	cursor:pointer;
	position:relative;
	top:2px;
	right:3px;
}

.tborder{border:1px solid #d4d4d4;padding:1px;width:605px;margin-top:25px;margin-bottom:10px;}
	.catbg{font-size:12px;font-weight:bold;background:-moz-linear-gradient(top, #eeeded, #ccc);background:-webkit-gradient(linear, left top, left bottom, from(#eeeded), to(#ccc));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeded, endColorstr=#cccccc);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEDED, endColorstr=#CCCCCC)";color:#404040;}
	.bordercolor{background-color:#dddada;padding:0;}
	.windowbg{background:#f6f6f6;}
	.windowbg2{background:#ebebeb;}

table .inside {
border:1px solid #6699cc;
border-collapse:collapse;
font-size:11px;
margin:20px 0px 10px 0px;
text-align:left;
}

table .inside th{
border-bottom:1px dashed #6699cc;
color:#424242;
font-size:11px;
font-weight:bold;
padding:10px 8px;
}

table .inside td{
color:#424242;
padding:7px 8px;
}