* {
font-family:'Open Sans',Verdana, Helvetica, Arial, sans-serif !important;
}

body{
	font-size:13px;
	padding-top:145px !important;
}
a{color:#333333; text-decoration:none; cursor:pointer;}
 a:hover{color:#FF403C; text-decoration:underline;}
/*------------ HEADER ------------- */
nav.head{background:none; border:none;}
.header{
background: #0b4c5f;
/*background: -moz-linear-gradient(-6deg, rgba(0,51,102,1) 0%, rgba(0,51,102,1) 65%, rgba(0,41,82,1) 65%, rgba(0,41,82,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,51,102,1)), color-stop(65%, rgba(0,51,102,1)), color-stop(65%, rgba(0,41,82,1)), color-stop(100%, rgba(0,41,82,1)));
background: -webkit-linear-gradient(-6deg, rgba(0,51,102,1) 0%, rgba(0,51,102,1) 65%, rgba(0,41,82,1) 65%, rgba(0,41,82,1) 100%);
background: -o-linear-gradient(-6deg, rgba(0,51,102,1) 0%, rgba(0,51,102,1) 65%, rgba(0,41,82,1) 65%, rgba(0,41,82,1) 100%);
background: -ms-linear-gradient(-6deg, rgba(0,51,102,1) 0%, rgba(0,51,102,1) 65%, rgba(0,41,82,1) 65%, rgba(0,41,82,1) 100%);
background: linear-gradient(174deg, rgba(0,0,51,1) 0%, rgba(0,0,51,1) 65%, rgba(0,0,83,1) 65%, rgba(0,0,83,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#002952', GradientType=1 );*/
}

.header .txtcari{
	border-radius: 4px 0 0 4px ;
	width:95%;
	  display: inline;
  margin-top: -5px;
}
@-moz-document url-prefix() {
.header .txtcari{
	border-radius: 4px 0 0 4px ;
	width:95%;
	  display: inline;
  margin-top: -7px;
}
}
.header .btn-search{
    color: #0c3d6d;
  font-size: 15px;
  padding: 8.5px;
  margin-left: -5px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0 4px 4px 0;
}
.header .search {color:#939393; padding: 20px 0;}
.header .search span a{color:#939393;text-decoration:none;   }
.header .search span a:hover{color:#FF403C;text-decoration:underline; cursor:pointer;}
.search-input {height: 25px;border: 1px solid #ABADB3;border-right: 0;}
#magnify {margin-top: -2px;margin-left: -5px;cursor:pointer;}

/*------------ MENU ------------- */
.menu-wrapper {background:#0f5f77 url(../images/pattern/pat_03.png) repeat; height:auto; display:block; }
ul.menu {margin:0; padding:0;}
ul.menu li.dropLi{display:inline-block; padding:10px 15px; color:#fff;  cursor:pointer;margin: 0;}
ul.menu li.dropLi:hover{background:#0f5f77;}
ul.menu li.dropLi a{color:#fff; text-decoration:none;}
ul.menu ul {position:absolute; background:#054ca5; opacity:0;margin:0;padding:0;margin-left: -15px;margin-top: 10px;}
ul.menu ul li {position:relative; list-style:none; min-width:150px;}
ul.menu ul li {display:block; padding:5px 10px; color:#fff; background-color:#0f5f77}
ul.menu ul li:hover {background-color:#0b4c5f; color:#fff}

/*------------ SIDEBAR ------------- */
h4.sidebar-title{/* background:#1148A4; */ padding:auto 10px; color: #0b4c5f; font-weight:normal;/* font-size: 14px; */ font-weight:bold; margin-top:20px;}
h5.sidebar-title2{ border-bottom: 1px solid #c8c7c7; padding:7px 0px 10px; color:#FF403C; font-weight:normal;font-size: 13px; font-weight:bold;}
.sidebar-content {padding: 0 10px;font-size:11px !important;}
.sidebar-content label {float:left; display:inline-block; font-weight:bold;}
.sidebar-content input {float:right;}
.sidebar-content table{font-size:11px;}
.inputUser{font-size:11px; font-weight:bold;}
.items{display:block !important}
.items p{margin:0;}
.items a{color:#333333; text-decoration:none; font-size:11px;}
.items a:hover{color:#FF403C; text-decoration:underline; font-size:11px;}
.alert{font-size: 11px;padding: 10px;;}
table {font-size:12px;}
.badge {font-size:11px; float:right;}
/*------------ breadcrumb ------------- */
#breadcrumb {
border:1pt solid #bfbfbf;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;

height:25px;
margin:10px 0;
}


#breadcrumb ul li{
   list-style-image: none;
   display:inline;
   padding: 0 3px 0 0;
   margin: 3px 0 0 0;
}
#breadcrumb ul li span {
bottom:0 !important;

}
#breadcrumb ul li a {
color:#FF403C;
   position:relative;

}

#breadcrumb ul li a:hover{
   cursor:pointer;
   text-decoration: underline;
}

#breadcrumb ul{
   margin:0;padding:0;
   list-style-type: none;
   padding-left: 1em;
   font-size: 11px;
}

/*------------ SEARCH BLOCK ------------- */
.searchBox{background:#c0392b url(../images/pattern/pat_03.png) repeat; padding:20px; color:#fff;font-size: 12px;}
.searchBox .search-title{margin-top:0; margin-bottom:20px; padding-bottom:10px; border-bottom: 1px #fff dotted;}
.searchBox label{font-weight:normal;}
.searchBox a{color:#fff;}

/*------------ NEWS ------------- */
ul.list-news {padding:10px; margin:0;}
ul.list-news li {list-style:none; border-bottom: 1px dashed #CCC; margin-bottom:10px;}

/*------------ SEARCH RESULT ------------- */
a.judul-buku{color:#FF403C; font-weight:bold;}
/*------------ FOOTER ------------- */
.footer{background:#DFE3E5; font-size:12px; color:#666666; padding:5px 0; bottom:0; }
.footer .footer-title{color:#666666; font-weight:bolder; font-size:18px; margin-bottom:20px;}
.bottom-footer{background: #033573;
color: #fff;
font-size: 10px;
padding: 10px;
font-style: italic;}
.navigasi{background:#D9D9D9; border-bottom:1px solid #CCC; border-top: 1px solid #CCC;}
span.required{color:#F00;}
#loadinglov{display:none;}
table.containerTable, table.dataGrid {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* color:#666; */
  padding: 10px;
}

table.containerTable th, table.dataGrid th {
  background: #E5E5E5;
  /* background: linear-gradient(top, #ffffff, #e5e5e5); */
  padding: 3px;
  font-size: 11px;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  padding-top: 5px;
  text-shadow: 0 1px 0 #ffffff;
    font-weight: normal;
}

table.containerTable .thLeft,table.GridStyle tr:hover .thLeft {
  background: #E5E5E5;
  /* background: linear-gradient(top, #ffffff, #e5e5e5); */
  padding: 3px;
  font-size: 11px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  /*text-align: left;*/
  padding-top: 5px;
  /*text-shadow: 0 1px 0 #ffffff;*/
}
/*------------ POP WINDOW ------------- */
.popWindow {
	background-color:#fff;
	border:5px solid #fff;
	display:none;
	position:absolute;
	text-align:left;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

.popWindow h3 {
	padding:3px;
}

.popWindowtr {
	/*background-color:#993300;*/
	background-color:#015593 /*--color id 01--*/;
	padding:5px
}
.popWindowtr form{margin:0;}
.btn_reset, .btn_next, .btn_prev, .btn_close {

	color:#fff;
	text-align:center;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}

.btn_reset {
	background: #339966 url(../images/tombol/reload_page.gif) no-repeat center;

	height:20px;
	width:20px;
}

.btn_next {
	background: #339966 url(../images/tombol/a_next.png) no-repeat center;

	height:20px;
	width:20px;
}

.btn_prev {
	background:#339966 url(../images/tombol/a_back.png) no-repeat center;

	height:20px;
	width:20px;
}

.btn_kontak {
	background:#339966 url(../images/tombol/users16.png) no-repeat center;

	height:20px;
	width:20px;
}

.btn_close {
	background: #339966 url(../images/tombol/close.png) no-repeat center;

	height:20px;
	width:20px;
	cursor:pointer;
}
input[type="button"], input[type="submit"], input[type="reset"], #linkCopy {
    background-color: #FF403C /*--color id 03--*/ ;/*
    background-image: -moz-linear-gradient(center top , #FF403C /*--color id 03-- , #FF403C /*--color id 03-- ;);*/
    border-color: #FF403C /*--color id 03--*/ ;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
/*    box-shadow: 0 1px 0 0 #72EBB9 inset, 0 1px 2px 0 #B3B3B3;*/
    color: #FFFFFF;
    font: 11px/1 "lucida grande",sans-serif;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 -1px 1px #FF403C /*--color id 03--*/ ;
	font-weight:bold;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, #linkCopy:hover {
    background-color: rgb(62,171,122);
    /*background-image: -moz-linear-gradient(center top , rgb(37, 126, 188), rgb(76, 164, 224));*/
    border-color: rgb(62,171,122);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, #linkCopy:active {
    background-color: #FF403C /*--color id 03--*/ ;/*
    background-image: -moz-linear-gradient(center top , #FF403C /*--color id 03-- , #FF403C /*--color id 03--);*/
    border-color: #FF403C /*--color id 03--*/ ;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
/*    box-shadow: 0 1px 0 0 #72EBB9 inset, 0 1px 2px 0 #B3B3B3;*/
    color: #FFFFFF;
    font: 11px/1 "lucida grande",sans-serif;
    text-align: center;
    text-shadow: 0 -1px 1px #FF403C /*--color id 03--*/ ;
	font-weight:bold;
	padding: 5px 10px;
}
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active, #linkCopy[disabled]:hover {
    background-color: #DADADA;
    background-image: -moz-linear-gradient(center top , #DADADA, #F3F3F3);
    border-color: #C5C5C5 #CECECE #D9D9D9;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #8F8F8F;
    cursor: not-allowed;
    text-shadow: 0 -1px 1px #EBEBEB;
}
.page-header {    color: #1148A4;
    border-bottom: 1px solid #D5D5D5;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;}
.berita-detail{
	    border: 1px solid #ddd;
    /* border-radius: 5px; */
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    min-height: 500px;
    margin-bottom: 50px;

}
.page-header h1{padding-bottom: 0; margin-bottom:0;}
.date-user{color:#999;}
.catbg{background: #FF403C;
color: #fff;}
.windowbg2{background:#E5E5E5}
.windowbg a{ color: #FF403C}
.windowbg3{background: #FF403C;
color: #fff;}
.notification {
background:url(../images/bg-cart.png) no-repeat;
width:150px;
height:27px;
float:right;
font-size:11px;
color:#fff;
margin-top:10px;
margin-right:25px;
margin-bottom:-10px;
}

.notification p {
padding-left:40px;
padding-top:7px;
}

/*============== HOME STYLE ==============*/
/*.bg-red{background:#ff3333;}*/
.bg-red{background:#219aaa;}
.header-ribbon{
	font-size:12px;
	float: none !important;
	color:#fff;
}
.header-ribbon a{
	color:#fff;
}
.wood{
	background:url(../images/wood-bg.png) repeat-x;
	padding:10px 0;
}
.rack{
	background:url(../images/wood-rack.png) no-repeat bottom center;
	min-height:100px;
	padding-bottom: 60px;
}
.book{
	width:100%;
	background:#fff;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.7);
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.7);
}
.book img{width:100%}
.book span{font-size:12px; margin:3px;}
.home-title {
	font-weight:400;
	color: 333333;
}
.red{
	color:#ee1800;
}
.peminjam-wrapper{
  color: #fff;
  line-height: 1.2;
  vertical-align:middle;
}
.bg-grey {

	background:#dbdbdb url(../images/arrow.png) left top no-repeat;
	background-size: 19px 98px;
	color:#333333;
	font-weight:bold;
	font-size:11px;
	padding:10px 10px 10px 30px;
}
ul.peminjam{
	margin:0; padding:0;
}
ul.peminjam li{
	list-style: none;
	display: inline-block;
	margin-left:10px;
}
li.dropdown-login{
padding: 10px; width:250px; text-align:left; color:#043E84; float:left
}
table{
	width:100%;
}
table th{
	background:#0b4c5f !important;
	color:#fff;
	border:1px solid #004D99 !important;
	border-bottom:3px solid #D34340 !important;
}
.dropMenu{
	text-align:left !important;
}
.judul {
	font-size: 20px;
	line-height:1;
}
div.none{
	max-width: 160px;
	width:100%;
    height: 225px;
    background: #8A8A8A;
    color: #fff;
    font-size: 24px;
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.7);
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
	padding: 10px;
    overflow: hidden;
}
.kategori-left{
	background: #eee;
    padding-bottom: 50px;
}
.table-detail{
	padding: 10px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
	border-collapse: separate !important;
}
a.dropli{    padding: 10px 15px; text-decoration:none;}
a:hover.dropli{background:#0f5f77;}


/*
	Ratings Stars
	(with as little code as possible)
*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  cursor: pointer;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}
