* {
font-family:Verdana, Helvetica, Arial, sans-serif !important;
}
a{color:#333333; text-decoration:none; cursor:pointer;}
 a:hover{color:#FF403C; text-decoration:underline;}
/*------------ HEADER ------------- */
.header{padding: 10px 0;}
.header .search {color:#939393;}
.header .search span{font-size:10px; line-height: 30px;}
.header .search span a{color:#939393;text-decoration:none}
.header .search span a:hover{color:#FF403C;text-decoration:underline; cursor:pointer;}
.search-input {height: 25px;border: 1px solid #ABADB3;border-right: 0;}
#magnify {margin-top: -2px;margin-left: -5px;cursor:pointer;}

/*------------ MENU ------------- */
.menu-wrapper {background:#054ca5 url(../images/pattern/pat_03.png) repeat; height:auto; display:block; }
ul.menu {margin:0; padding:0;}
ul.menu li.dropLi{display:inline-block; padding:10px 15px; color:#fff; font-size:12px; cursor:pointer;margin: 0;}
ul.menu li.dropLi:hover{background:#FF403C;}
ul.menu li.dropLi a{color:#fff; text-decoration:none;}
ul.menu ul {position:absolute; background:#054ca5; opacity:0;margin:0;padding:0;margin-left: -15px;margin-top: 10px;}
ul.menu ul li {position:relative; list-style:none; min-width:150px;}
ul.menu ul li {display:block; padding:5px 10px; color:#fff; background-color:#054ca5}
ul.menu ul li:hover {background-color:#FF403C; color:#fff}

/*------------ SIDEBAR ------------- */
h4.sidebar-title{border-top: 3px solid #FF403C; border-bottom: 1px solid #c8c7c7; padding:7px 10px; color:#FF403C; font-weight:normal;font-size: 14px; font-weight:bold;}
h5.sidebar-title2{ border-bottom: 1px solid #c8c7c7; padding:7px 0px 10px; color:#FF403C; font-weight:normal;font-size: 13px; font-weight:bold;}
.sidebar-content {padding: 0 10px;font-size:11px !important;}
.sidebar-content label {float:left; display:inline-block; font-weight:bold;}
.sidebar-content input {float:right;}
.sidebar-content table{font-size:11px;}
.inputUser{font-size:11px; font-weight:bold;}
.items{display:block !important}
.items p{margin:0;}
.items a{color:#333333; text-decoration:none; font-size:11px;}
.items a:hover{color:#FF403C; text-decoration:underline; font-size:11px;}
.alert{font-size: 11px;padding: 10px;;}
table {font-size:12px;}
.badge {font-size:11px; float:right;}
/*------------ breadcrumb ------------- */
#breadcrumb {
border:1pt solid #bfbfbf;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;

height:25px;
margin:10px 0;
}


#breadcrumb ul li{
   list-style-image: none;
   display:inline;
   padding: 0 3px 0 0;
   margin: 3px 0 0 0;
}
#breadcrumb ul li span {
bottom:0 !important;

}
#breadcrumb ul li a {
color:#FF403C;
   position:relative;

}

#breadcrumb ul li a:hover{
   cursor:pointer;
   text-decoration: underline;
}

#breadcrumb ul{
   margin:0;padding:0;
   list-style-type: none;
   padding-left: 1em;
   font-size: 11px;
}

/*------------ SEARCH BLOCK ------------- */
.searchBox{background:#c0392b url(../images/pattern/pat_03.png) repeat; padding:20px; color:#fff;font-size: 12px;}
.searchBox .search-title{margin-top:0; margin-bottom:20px; padding-bottom:10px; border-bottom: 1px #fff dotted;}
.searchBox label{font-weight:normal;}
.searchBox a{color:#fff;}

/*------------ NEWS ------------- */
ul.list-news {padding:10px; margin:0;}
ul.list-news li {list-style:none; border-bottom: 1px dashed #CCC; margin-bottom:10px;}

/*------------ SEARCH RESULT ------------- */
a.judul-buku{color:#FF403C; font-weight:bold;}
/*------------ FOOTER ------------- */
.footer{background:#04418C; font-size:12px; color:#fff; margin-top:50px; padding:20px 0; bottom:0; }
.footer .footer-title{color:#FFCC2A; font-weight:600; text-transform:uppercase; font-size:16px; font-weight:lighter; margin-bottom:20px;}
.bottom-footer{background: #033573;
color: #fff;
font-size: 10px;
padding: 10px;
font-style: italic;}
.navigasi{background:#D9D9D9; border-bottom:1px solid #CCC; border-top: 1px solid #CCC;}
span.required{color:#F00;}
#loadinglov{display:none;}
table.containerTable, table.dataGrid {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* color:#666; */
  padding: 10px;
}

table.containerTable th, table.dataGrid th {
  background: #E5E5E5;
  /* background: linear-gradient(top, #ffffff, #e5e5e5); */
  padding: 3px;
  font-size: 11px;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  padding-top: 5px;
  text-shadow: 0 1px 0 #ffffff;
}

table.containerTable .thLeft,table.GridStyle tr:hover .thLeft {
  background: #E5E5E5;
  /* background: linear-gradient(top, #ffffff, #e5e5e5); */
  padding: 3px;
  font-size: 11px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  /*text-align: left;*/
  padding-top: 5px;
  /*text-shadow: 0 1px 0 #ffffff;*/
}
/*------------ POP WINDOW ------------- */
.popWindow {
	background-color:#fff;
	border:5px solid #fff;
	display:none;
	position:absolute;
	text-align:left;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

.popWindow h3 {
	padding:3px;
}

.popWindowtr {
	/*background-color:#993300;*/
	background-color:#015593 /*--color id 01--*/;
	padding:5px
}
.popWindowtr form{margin:0;}
.btn_reset, .btn_next, .btn_prev, .btn_close {
	
	color:#fff;
	text-align:center;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;}
	
.btn_reset {
	background: #339966 url(../images/tombol/reload_page.gif) no-repeat center;

	height:20px;
	width:20px;
}

.btn_next {
	background: #339966 url(../images/tombol/a_next.png) no-repeat center;

	height:20px;
	width:20px;
}

.btn_prev {
	background:#339966 url(../images/tombol/a_back.png) no-repeat center;

	height:20px;
	width:20px;
}

.btn_kontak {
	background:#339966 url(../images/tombol/users16.png) no-repeat center;

	height:20px;
	width:20px;
}

.btn_close {
	background: #339966 url(../images/tombol/close.png) no-repeat center;

	height:20px;
	width:20px;
	cursor:pointer;
}
input[type="button"], input[type="submit"], input[type="reset"], #linkCopy {
    background-color: #FF403C /*--color id 03--*/ ;/*
    background-image: -moz-linear-gradient(center top , #FF403C /*--color id 03-- , #FF403C /*--color id 03-- ;);*/
    border-color: #FF403C /*--color id 03--*/ ;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
/*    box-shadow: 0 1px 0 0 #72EBB9 inset, 0 1px 2px 0 #B3B3B3;*/
    color: #FFFFFF;
    font: 11px/1 "lucida grande",sans-serif;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 -1px 1px #FF403C /*--color id 03--*/ ;
	font-weight:bold;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, #linkCopy:hover {
    background-color: rgb(62,171,122);
    /*background-image: -moz-linear-gradient(center top , rgb(37, 126, 188), rgb(76, 164, 224));*/
    border-color: rgb(62,171,122);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, #linkCopy:active {
    background-color: #FF403C /*--color id 03--*/ ;/*
    background-image: -moz-linear-gradient(center top , #FF403C /*--color id 03-- , #FF403C /*--color id 03--);*/
    border-color: #FF403C /*--color id 03--*/ ;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
/*    box-shadow: 0 1px 0 0 #72EBB9 inset, 0 1px 2px 0 #B3B3B3;*/
    color: #FFFFFF;
    font: 11px/1 "lucida grande",sans-serif;
    text-align: center;
    text-shadow: 0 -1px 1px #FF403C /*--color id 03--*/ ;
	font-weight:bold;
	padding: 5px 10px;
}
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active, #linkCopy[disabled]:hover {
    background-color: #DADADA;
    background-image: -moz-linear-gradient(center top , #DADADA, #F3F3F3);
    border-color: #C5C5C5 #CECECE #D9D9D9;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #8F8F8F;
    cursor: not-allowed;
    text-shadow: 0 -1px 1px #EBEBEB;
}
.page-header {color:#FF403C; border-bottom: 1px solid #D5D5D5; margin-bottom:0; padding-bottom:0;}
.page-header h1{padding-bottom: 0; margin-bottom:0;}
.date-user{color:#999;}
.catbg{background: #FF403C;
color: #fff;}
.windowbg2{background:#E5E5E5}
.windowbg a{ color: #FF403C}
.windowbg3{background: #FF403C;
color: #fff;}
.notification {
background:url(../images/bg-cart.png) no-repeat;
width:150px;
height:27px;
float:right;
font-size:11px;
color:#fff;
margin-top:10px;
margin-right:25px;
margin-bottom:-10px;
}

.notification p {
padding-left:40px;
padding-top:7px;
}