.tabs {
width:299px;
padding:7px 7px;
float:left;
}

.tabs ul
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	height:22px;
	margin-bottom:0px;
	width:299px;
	border-bottom:thin solid #999;
	/* border-bottom: 1px solid #999999; */
}

.tabs ul li 
{
    display: inline;
	list-style: none;
    text-align: center;
    border: 1px solid #999999;
	margin: 2px 2px 0 0;
	float: left;
	clear:right;
	padding: 4px 0px 4px 0px;
	background-color: #7A888F;
	position:relative;
	top:2px;
}

.tabs ul li a
{
	color: #FFFFFF;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
}

.tabs ul li.selected 
{
	background-color: #FFF;
	/*border-color: #469A22;*/
	color: #FFFF00;
	border-bottom:thin solid #FFF;
}

.tabs ul li.selected a
{
	color: #000;
}

.tabs .items
{
	display: none;
	border: 1px solid #999;
	border-top-style:none;
	padding:4px;
	float:left;
	width:289px;
	height:321px;
}

.tabs .items table
{
	width:235px;
	text-align:justify;
	font-size:11px;
	line-height:150%;
	margin:0 auto;
}

.tabs .items table td {
padding:2px;
border:thin solid #484848;
}

.tabs .items table .tHead {
background:url(../images/tabel.jpg) repeat-x 0 0;
height:22px;
color:#FFF;
}

.tHead td{
vertical-align:middle;
text-align:center;
}

.tabs .items p {
font-size: 11px;
color:#000;
float:left;
line-height:150%;
padding-top:2px;
width:140px;
padding-left:2px;
}

.br {
font-size: 11px;
text-align:justify;
color:#000;
float:left;
line-height:150%;
width:125px;
padding-left:2px;
}

.tabs .items p a {
text-decoration:none;
color:#000;
}

.tabs .items p a:hover {
text-decoration:underline;
color:#FF0000;
}

.tabs2 {
width:930px;
padding:0px 4px;
}

.tabs2 ul
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	height:22px;
	margin-bottom:0px;
	width:920px;
	border-bottom:thin solid #999;
	/* border-bottom: 1px solid #999999; */
}

.tabs2 ul li 
{
    display: inline;
	list-style: none;
    text-align: center;
    border: 1px solid #999999;
	margin: 2px 2px 0 0;
	float: left;
	clear:right;
	padding: 4px 0px 4px 0px;
	background-color: #7A888F;
}

.tabs2 ul li a
{
	color: #FFFFFF;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
}

.tabs2 ul li.selected 
{
	background-color: #FFF;
	/*border-color: #469A22;*/
	color: #FFFF00;
	border-bottom:thin solid #FFF;
}

.tabs2 ul li.selected a
{
	color: #000;
}

.tabs2 .items2
{
	display: none;
	border: 1px solid #999;
	border-top-style:none;
	padding:4px;
	float:left;
	width:910px;
}

.tabs2 .items2 table
{
	width: 99%;
}

.tabs2 .items2 p {
font-size: 11px;
text-align:justify;
color:#000;
float:left;
line-height:150%;
padding-top:8px;
width:900px;
padding-left:8px;
}

.br2{
font-size: 11px;
text-align:justify;
color:#000;
float:left;
line-height:150%;
width:900px;
padding-left:8px;
}

.br2 a {
text-decoration:none;
}

.tabs2 .items2 p a {
text-decoration:none;
}