body, html {
    height: 100%;
    background: #E9EAED;
    margin:0;
    padding:0;
}
.container-fluid{
  padding: 0;
}
.header{
	background: url(../images/header-img.png) no-repeat #034489 top left -170px;
	color:#fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	width: 100%;
	z-index: 9;
	top: 0;
	height:54px;
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    background-color: #fff;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 60px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.profile-img-card {
    height: 40px;
    margin: 0 auto;
    display: block;
}

.profile-name-card {
	color: #999999;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}
