/*
@font-face {
    font-family: 'molengo';
    src: url('molengo-regular-webfont.eot');
    src: url('molengo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('molengo-regular-webfont.woff2') format('woff2'),
         url('molengo-regular-webfont.woff') format('woff'),
         url('molengo-regular-webfont.ttf') format('truetype'),
         url('molengo-regular-webfont.svg#molengoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/* custom template */
html, body {
   font-family:helvetica,arial,sans-serif;
   font-size:12px;
   color:#141823;
   background:#E9EAED;
}
body{
	padding-top:50px;
}
.nav,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family:Helvetica,Arial,sans-serif;
}
a {
  cursor:pointer;
}
a:hover {
  text-decoration:underline;
}
.label-keyword{
  color: #9E9E9E;
  /*border: 1px solid #9E9E9E;*/
  font-size: 10px;
}
#filterTimeline .modal-content{
  padding: 0;
}
#filterTimeline .modal-header{
  border-radius: 3px 3px 0 0;
}
#filterTimeline .modal-body{
  padding: 1rem 0;
  border-radius: 0 0 3px 3px;
}
#filterTimeline .modal-body .btn-default{
  margin-right: 0.5rem;
}

hr {
  border-color:#dedede;
  margin-top:10px;
}

.wrapper, .row {
   /*height: 100%;*/
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}


.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#E9EAED;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}
.header{
	background: url(../images/header-img.png) no-repeat #0d5b71 top left -170px;
	color:#fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	position: fixed;
	width: 100%;
	z-index: 9;
	top: 0;
}
.header a{color:#fff;}
.navbar-nav>li>a {
  padding-top: 10px !important;
}
.divider {
	margin-top:32px;
}

.navbar-blue {
    border-width:0;
	background-color:#004288;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    width:inherit;
}

.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
   font-size:15px;
}

.navbar-blue .dropdown-menu li a {color:#2A4888;}
.navbar-blue .dropdown-menu li > a {padding-left:30px;}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#2A4888;
   color:#fff;
}

#main {
   background-color:#E9EAED;
   padding-left:0;
   padding-right:0;
    overflow-x: hidden;
}
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding:0px;
	padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar .nav li>a:hover {
    background-color:#393939;
}

.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#3B5999;
  height:28px;
  width:28px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3c88e7;
	border-color:#297ae2;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {

}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}

.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#CDD0D7;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.panel-default .panel-heading {
  background-color: #ffffff;
  color: #9197a3;
  border-color: #ffffff;
}

.panel-default .panel-heading h4{
	padding-bottom:10px;
	margin-bottom:0px;
	border-bottom:1px solid #eee;
}
.panel-default .panel-footer{
	background:#f5f5f5;
}
.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.well h4{
	padding:0;
	margin:0;
	margin-bottom:10px;
	font-weight:bold;
}
ul.notif{
	margin:10px;
}
.icon-round{
	width:30px;
	height:30px;
	border-radius:50px;
	color:#fff;
	display:inline-block;
	margin-left:3px;
	position:relative;
}
.icon-round  i{
	padding:8px;
}
.icon-round a.dropdown-toggle{
	color:#fff;
}
.icon-round > img, .user-img{
	width:32px;
	height:32px;
	border-radius: 50px;
}
.icon-round.round-red{
	background:#e74c3c;
}
.icon-round.round-cyan{
	background:#1abc9c;
}
.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: -5px;
  top: -8px;
}
.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
.panel.panel1{
	border-top:3px solid #1e909a;
}
.panel.panel2{
	border-top:3px solid #F0AD4E;
}
.panel.panel3{
	border-top:3px solid #D9534F;
}.panel.panel4{
	border-top:3px solid #5BC0DE;
}
.tag{
	text-transform:uppercase;
	font-weight:700;
	right:60px; position:absolute; margin-top:20px
}
.panel1 .tag a{color:#27b7ca;}
.panel2 .tag a{color:#F0AD4E;}
.panel3 .tag a{color:#D9534F;}
.panel4 .tag a{color:#5BC0DE;}
.panel5 .tag a{color:#3C88E7;}
.label1{background:#5fbc1a}
.label2{background:#F0AD4E}
.label3{background:#D9534F}
.label4{background:#5BC0DE}
.label5{background:#3C88E7}

.post-heading{
	display:inline-block;
	vertical-align:top;
}
.post-heading:first-child{
	margin-right:8px;
}
.post-heading.prof-pic img{
	width:40px;
	height:40px;
}
.post-comment img{
	width:30px;
	height:30px;
}
.post-heading strong {
color:#000;
}
.post-title{
	font-weight:bold;
	font-size:14px;
}
.post-image{
	margin:10px auto;
	width:100%;
	max-height:300px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-blue {
	background-color:#3B5999;
    top:0;
    width:100%;
    position:relative;
  }

}
/* *********  widgets  *************************************** */
ul.notif li{
 display:inline-block;
 margin-right:5px;
 width: 100%;
}
ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important;
}

ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 10px;
}

ul.msg_list li a {
    padding: 3px 5px !important;
}

ul.msg_list li a .image img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}

ul.msg_list li a .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}

ul.msg_list li a .message {
    display: block !important;
    font-size: 10px;
}

.dropdown-menu.msg_list {
    width: 300px !important;
	margin: 10px -10px;
}

.dropdown-menu.msg_list span {
    white-space: normal;
}
.dropdown-usermenu{
	margin-top:8px !important;
}
.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #999999;
}

.dropdown-menu:after {
    border-bottom: 6px solid #999999;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 6%;
    position: absolute;
    top: -6px;
}

.dropdown-menu>li>a {
    color: #5A738E;
}

.dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
}

.media .date {
    background: #ccc;
    width: 52px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
}

.media .date .month {
    margin: 0;
    text-align: center;
    color: #fff;
}

.media .date .day {
    text-align: center;
    color: #fff;
    font-size: 27px;
    margin: 0;
    line-height: 27px;
    font-weight: bold;
}
.media.tim{
	margin-top:10px;
}
.media.tim:first-child{
	margin-top:0px;
}
.tim img{
	width:32px;
	height:32px;
    margin-right: 10px;
}
.event .media-body a.title, .tim .media-body a.title {
    font-weight: bold;
}

.event .media-body p {
    margin-bottom: 0;
}

h4.graph_title {
    margin: 7px;
    text-align: center;
}
.form-control {
  border-color: #d7d7d7;
  box-shadow:none !important;

}
/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

/*
 * add by desainer
 * --------------------------------------------------
 */
 ul.btn-km {
	padding:0;
	margin:0;
	border-bottom: 1px solid #E9EAED;
    padding-bottom: 10px;
	    padding-right: 20px;
 }
 ul.btn-km li{
	display:inline;
	border-left:1px solid #E9EAED;
	list-style:none;
	padding:0 10px;
	color:#337ab7;
	cursor: pointer;
	position:relative;
 }
 ul.btn-km li > span{
	padding:3px;
 }
 ul.btn-km li > span:hover{
	background:#eee;
	padding:3px;
 }
 ul.btn-km li:first-child{
	border:none;
	padding-left:0;
 }
 ul.btn-km span.active{
	color:#333;
 }
 .panel {
	margin-bottom:10px;
 }
 .arrow{
	background:url(../images/arrow-up.png) no-repeat;
	width:16px;
	height:7px;
	position:absolute;
	z-index:0;
	left:50%;
	margin-left:-10px;
	bottom:-13px;
	display:none;
 }
 .table-add{margin:0px}
 .table-add  td{
	border:none !important;
 }
 .form-control{font-size:12px;}
 .table-add .label-form{
	font-weight:bold;
	text-align:right;
	width:10%;
	vertical-align:middle;
 }
 .table-add .form-control{
	padding: 5px;
	border-radius: 0;
    border: 1px solid #ddd;
    height: auto;
 }
 .table-add .form-control.hasDatepicker{
	cursor: pointer;
	width:200px;
	background:url(../images/calendar.png) right 5px center no-repeat;
 }
 .ui-widget-header {
    border: 1px solid #E40302 !important;
    background: #FD0302 !important;
}
.panel-content > .panel-heading{
	border-bottom: 1px solid #f2f2f2;
}
.panel-content p{
	margin:0;
	font-size:14px;
}
.panel-content h4{
	margin:0;
	padding:0;
	font-size:14px;
	line-height:1.5;
}
.panel-content > .panel-body{
	padding-bottom:10px;
}
.img-thumbnail{
	border-radius:0;
	max-height:200px;
	margin-bottom:5px;
}
li.btn_attach{
	color:#AAADB3;
	text-align:center;
}
li.btn_attach:hover{
	background:#DBDBDB;
}
.panel-info{
	padding: 5px 15px;
    background: #f8f8f8;
    border-bottom: 1px solid #F2F2F2;
	color:#83868F;

}
.left-menu{
	line-height:2;
	margin-top:20px;
}
.left-menu a{
	color:#141823;
}
.left-menu a:hover{
	text-decoration:underline;
}
.left-menu p, p.right-title{
	text-transform:uppercase; color:#9197A3; font-weight:bold; margin:0;
}
.select2-container--default .select2-selection--multiple {
	border-radius:0 !important;
	border: 1px solid #DDDDDD !important;
	min-height:auto !important;
}
ul.tim{padding:0; margin:0;}
ul.tim li{display:inline; list-style:none;}

ul.right-side{margin:0; padding:0; color:#9197a3}
ul.right-side li{border-bottom:1px solid #eee; list-style:none; padding-top:5px;}
.pp_gallery {
    display: none !important;
}
ul.filter{border:0 !important; font-weight:bold;}
ul.filter>li {margin-bottom:-2px;}
ul.filter>li>a {border-radius:0;}
.filter>li.active>a, .filter>li.active>a:focus, .filter>li.active>a:hover {
	border:0;
	background: url(../images/arrow-up.png) no-repeat;
	background-position: bottom;
}
#ui-datepicker-div{
  /*z-index:10 !important;*/
  z-index:10;
}
.toggle-nav{
	position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
	cursor:pointer;
}

.menu-grid .thumbnail{
	padding: 50px 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background: #034489;
    overflow: hidden;
    position: relative;
}
.menu-grid a{padding:0; text-decoration:none;}
.menu-grid h1{
	font-size: 6em;
    margin: 0;
    position: absolute;
    overflow: hidden;
	   color: rgba(0,0,0,0.2);
	margin-top:-10px;
}
.menu-grid .caption{color:#fff}
#top {
	position: fixed;
    bottom: 50%;
    right: 0px;
	cursor: pointer;
}
.footer-container  .container{
	padding-top: 10px;
    border-top: 1px solid #CDCFD6;
    color: #798194;
	margin-top: 10px;
    margin-bottom: 10px;
}
/*====================================================*/
/*==================== RESPONSIVE ===================*/
/*==================================================*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Smartphone */
@media (max-width: 768px) {

	#content{padding-top:60px !important;}
	.nav>li>a {padding:10px 3px; background:none !important;}
	ul.notif{padding:0; margin:0;}
	.nama{display:inline-block !important;}
	ul.btn-km li {padding: 0 5px;}
	body{padding:0;}
	.container{
		margin:0;
		padding:0;
	}
	.right-bar{
		padding:0;
	}
    ul.notif span {
        color: white;
    }
}
/* tablet vertical */
@media (min-width: 768px) and (max-width: 992px) {
	body{padding:0;}

}

/* tablet horizontal */
@media (min-width:  992px) and (max-width: 1200px) {

}

/* desktop */
@media (min-width: 1200px) {

}
#filtertable_block {
	display:none;
	position:absolute;
}
.filter_dialog,filter_text {
	color : white;
	font-weight:bold;
	display : none;
	position : absolute;
	background-color: #00CC66;
	border:1px outset buttonface;
}
.filter_text
{
	color : #333;
	border:1px groove buttonface;
	height:22px;
	background-color: #CCFFCC;
}
/* menu body */

.menu-body {
	color:		Black;
	margin:		0;
	padding:	0;
	overflow:	hidden;
	border:		1px solid #666666;
	cursor:		default;
	background-color:#FFFFFF;

}

.ui-autocomplete-loading { background: white url('../images/loading.gif') right center no-repeat; }

.menu-body .inner-border {
	width:			100%;

	border:			1px solid #f9f8f7;
	border-width:	1px 0 1px 0;
	padding:		0 1px 0 1px;
	margin:			0;

}

/* menu body */

/*****************************************************************************/

/* menu items */

.menu-body td {
	color:			Black;
	cursor:	pointer;
}

.menu-body .hover td {
	background-color:	#b6bdd2;
}

.menu-body .disabled-hover td {
	background-color:	white;
}

.menu-body td.empty-icon-cell {
	padding:		2px;
	border:		0;
}

.menu-body td.empty-icon-cell span {
	width:	16px;
}

.menu-body td.icon-cell {
	padding:	2px;
	border:		0;
}


.menu-body td.icon-cell img {
	width:	16px;
	height:	16px;
	margin:	0;
	/* filter:	Alpha(Opacity=70); */
}

.menu-body .hover td.icon-cell img {
	filter:	none;
	position:	relative;
	left:		-1px;
	top:		-1px;
}


.menu-body .disabled-hover td.icon-cell img,
.menu-body .disabled td.icon-cell img {
	/* display:	static;
	filter:		Gray() Alpha(Opacity=40); */
}


.menu-body .disabled-hover td.empty-icon-cell,
.menu-body .hover td.empty-icon-cell,
.menu-body .disabled-hover td.icon-cell,
.menu-body .hover td.icon-cell {
	border:			1px solid #0A246A;
	border-right:	0;
	padding:		1px 2px 1px 1px;
}

.menu-body td.label-cell {
	width:		100%;
	padding:	2px 5px 2px 5px;
	border:		0;
}

.menu-body .disabled-hover td.label-cell,
.menu-body .hover td.label-cell,
.menu-body .disabled-hover td.shortcut-cell,
.menu-body .hover td.shortcut-cell {
	padding:		1px 5px 1px 5px;
	border:			1px solid #0A246A;
	border-left:	0;
	border-right:	0;
}

.menu-body td.shortcut-cell {
	padding:	2px 5px 2px 5px;
}

.menu-body td.arrow-cell {
	width:			20px;
	padding:		2px 2px 2px 0px;
}

/* end menu items */

/*****************************************************************************/

/* disabled items */

.menu-body .disabled-hover td.arrow-cell,
.menu-body .hover td.arrow-cell {
	padding:		1px 1px 1px 0px;
	border:			1px solid #0A246A;
	border-left:	0;
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	text-align:		center;
	padding:		10px;
}

.menu-body .disabled td {
	color:				#cccccc;
}

.menu-body .disabled-hover td {
	background-color:	white;
	color:				#cccccc;
}

/* end disabled items */

/*****************************************************************************/

/* separator */

.menu-body .separator td {
	font-size:	0.001mm;
	padding:	1px 0px 1px 27px;
}

.menu-body .separator-line {
	overflow:		hidden;
	border-top:		1px solid #dbd8d1;
	height:			1px;
}

/* end separator */

/*****************************************************************************/

/* Scroll buttons */

.menu-body #scroll-up-item,
.menu-body #scroll-down-item {
	width:		100%;
}

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	text-align:		center;
	padding:		1px 5px 1px 5px;
}

.menu-body #scroll-up-item .disabled-hover td,
.menu-body #scroll-up-item .hover td,
.menu-body #scroll-down-item .disabled-hover td,
.menu-body #scroll-down-item .hover td {
	border:		1px solid #0A246A;
	padding:	0px 4px 0px 4px;
}

/* End scroll buttons */

/*****************************************************************************/

/* radio and check box items */

.menu-body .checked {
	padding:	0px;
}

.menu-body .checked.hover {
	padding:	0px;
}

.menu-body .checked .check-box,
.menu-body .checked .radio-button {
	display:		inline-block;
	overflow:		hidden;
	color:			MenuText;
	text-align:		center;
	vertical-align:	middle;
	background-color:	#b6bdd2;
	border:				1px solid #0A246A;
}

.menu-body .check-box {
	width:			19px;
	height:			19px;
	font-size:		133%;
	padding-bottom:	5px;
	padding-left:	1px;
}

.menu-body .radio-button {
	width:			19px;
	height:			19px;
	font-size:		50%;
	padding:		5px;
}
/* end radio and check box items */

/*****************************************************************************/

/* Menu Bar */

.menu-bar {
	background:		yellow;
	cursor:			default;
	padding:		1px;
	background:		#f9f8f7 url("background.gif") repeat-y;
}

.menu-bar .menu-button {
	background:	ButtonFace;
	color:		ButtonText;
	padding:	3px 7px 3px 7px;
	border:		0;
	margin:		0;
	display:	inline-block;
	white-space:	nowrap;
	cursor:			default;
}

.menu-bar .menu-button.active {
	background:		#dbd8d1;
	padding:		2px 6px 3px 6px;
	border:			1px solid #666666;
	border-bottom:	0;
}

.menu-bar .menu-button.hover {
	background:		#b6bdd2;
	padding:		2px 6px 2px 6px;
	border-width:	1px;
	border-style:	solid;
	border-color:	#0A246A;
}

.sort_asc {
	background: url(../images/sortascending.gif) no-repeat left;
	padding:3px;
	padding-left:18px;
}

.sort_desc {
	background: url(../images/sortdescending.gif) no-repeat left;
	padding:3px;
	padding-left:18px;
}

.add_filter {
	background: url(../images/addfilter.gif) no-repeat left;
	padding:3px;
	padding-left:18px;
}

.remove_filter {
	background: url(../images/removefilter.gif) no-repeat left;
	padding:3px;
	padding-left:18px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}