html { min-width: 600px; }

body, div, td, th, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: verdana,sans-serif;
	voice-family: "\"}\"";
	voice-family: inherit;
	color: #333;
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

body {
	color: #333;
	margin: 0;
}

a { color: #06C; }
a:hover { color: #333; }
a:active { color: #000; }

p { line-height: 140%; }

h1,h2 {
	font-family: trebuchet ms;
	font-weight: bold;
	color: #333;
}

h1 {
	font-size: 180%;
	margin: 0;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px dotted #666; color: #000; }

h2 {
	font-size: 140%;
	padding-bottom: 2px;
	border-bottom: 1px solid #CCC;
	margin: 0;
}

p.note {
	background: #EEE;
	padding: 4px;
	font-family: tahoma;
	font-size: 85%;
	line-height: 130%;
	margin-top: 0;
}

/* Tambahan untuk SIM Kepegawaian */

.ControlDisabled {
	background-color:#EEEEEE;
	color:#444444;
}

.EditTabLabel {
	/* color:#0293DB; */
	color:#993300;
	font-weight:bold;
}

.EditTabLine {
	border-bottom:medium solid #993300;
	color:#993300;
	font-weight:bold;
	font-size:14px;
}

.EditHead {
	border-bottom:medium solid #0293db;
	color:#0293db;
	font-weight:bold;
	font-size:14px;
}

.EditTabTable td {
	/* color:#0293DB; */
	color:#993300;
}

.EditTabTable td .notes {
	color:#000;
}

.EditInfo {
	color:#000;
	font-weight:bolder;
	background: url('../images/kate.png');
	background-position:right;
	background-repeat:no-repeat;
}

.LiteHeaderBG {
	background-color:#0293DB;
}

.LiteSubHeaderBG td {
	background-color:#FADBC2;
}