body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
}

.buttonSmall {
-moz-border-radius:4px; 
color:#454545; 
height:17px;
padding:4px 4px 4px 8px;
font-weight:bold;
font-size:8pt;
cursor:pointer;
border:1px solid #868686;
}

.buttonSmallDis {
background:#f4f4f4;
-moz-border-radius:4px; 
color:gray; 
height:17px;
padding:4px 4px 4px 8px;
font-weight:bold;
font-size:8pt;
border:1px solid #868686;

}

.buttonSmall:hover {
}

a.button {
	background:#064082 /*url(../images/tombol/button.gif)*/;
	display:block;
	color:#fff;
	height:30px;
	line-height:29px;
	text-decoration:none;
	width:195px;
	text-align:center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a:hover.button {
	color:#fff;
	background:#015593;
	text-align:center;
}

/* -------------------- */
/* CLASSES */
/* -------------------- */

.add {
	background:url(../images/tombol/irc-join.png) no-repeat 10px 8px;
	display:block;
}

.delete {
	background:url(../images/tombol/delete.png) no-repeat 10px 8px;
	color:#fff;
	font-weight:normal;
	display:block;
}

.filter {
	background:url(../images/filter.png) no-repeat 10px 8px;
	display:block;
}

.cari {
	background:url(../images/find.png) no-repeat 10px 8px;
	display:block;
}
.list {
	background:url(../images/tombol/view.png) no-repeat 10px 8px;
	color:#fff;
	display:block;
}

.reset {
	background:url(../images/tombol/undo.png) no-repeat 10px 8px;
	color:#fff;
	font-weight:normal;
	display:block;
}

.save {
	background:url(../images/tombol/file.png) no-repeat 10px 8px;
	color:#fff;
	font-weight:normal;
	display:block;
}

.new {
	background:url(../images/tombol/irc-join.png) no-repeat 10px 8px;
	color:#fff;
	font-weight:normal;
	display:block;
}

.refresh {
	background:url(../images/tombol/icq2.png) no-repeat 10px 8px;
	font-weight:normal;
	color:#fff;
	display:block;
}
.refresh2 {
	background:url(../images/tombol/icq2.png) no-repeat 0px 1px;
	font-weight:normal;
	color:#fff;
	display:block;
	width:15px;
}

.print {
	background:url(../images/tombol/print.png) no-repeat 10px 8px;
	
	display:block;
}

.validasi {
	background:url(../images/tombol/icq.png) no-repeat 10px 8px;
	
	display:block;
}

.approve {
	background:url(../images/tombol/accept.png) no-repeat 10px 8px;
	color:#fff;
	display:block;
}

.end {
background:url(../images/tombol/out.png) no-repeat 10px 8px;
	
	display:block;
}

a.buttonshort, .buttonshort {
	background:#339966 /*url(../images/tombol/button_160.gif)*/;
	display:block;
	color:#fff;
	font-weight:bold;
	height:30px;
	line-height:29px;
	text-decoration:none;
	width:122px;
	text-align:center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}
a:hover.buttonshort, .buttonshort:hover {
	color:#fff;
	background:#66cc99;
}

.btn_reset {
	background: url(../images/tombol/reload_page.gif) no-repeat center;
	background-color: #eee;
	border:1px outset #777;
	height:20px;
	width:20px;
}

.btn_next {
	background: url(../images/tombol/a_next.png) no-repeat center;
	background-color: #eee;
	border:1px outset #777;
	height:20px;
	width:20px;
}

.btn_prev {
	background: url(../images/tombol/a_back.png) no-repeat center;
	background-color: #eee;
	border:1px outset #777;
	height:20px;
	width:20px;
}

.btn_kontak {
	background: url(../images/tombol/users16.png) no-repeat center;
	background-color: #eee;
	border:1px outset #777;
	height:20px;
	width:20px;
}

.btn_close {
	background: url(../images/tombol/close.png) no-repeat center;
	background-color: #eee;
	border:1px outset #777;
	height:20px;
	width:20px;
	cursor:pointer;
}