.nav, .nav:link, .nav:visited {
    color: #000000;
    text-decoration: none;
}

a.nav:hover {
    color: #cc3333;
    text-decoration: underline;
}

table {
    empty-cells: show;
}

body, td, th, tr {
    line-height: 150%;
    font-family: tahoma, sans-serif;
    color: #555555;
    font-size: 11px;
}

body {
    padding: 0;
    margin: 0;
}

input, textarea, button {
    color: #000000;
    font-family: verdana, sans-serif;
}

input, button {
    font-size: 100%;
}

textarea {
    font-size: 100%;
    color: #000000;
    font-family: verdana, sans-serif;
}

input.check {}

select {
    font-size: 100%;
    font-weight: normal;
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

hr, .hrcolor {
    height: 1px;
    border: 0;
    color: #666666;
    background-color: #d4d4d4;
}

a img {
    border: 0;
}

.quote {
    color: #3a3a3a;
    background-color: #cecece;
    border-top: 4px solid #959595;
    border-bottom: 4px solid #959595;
    margin: 1px;
    padding: 1px;
    font-size: x-small;
    line-height: 1.4em;
}

.code {
    color: #3a3a3a;
    background-color: #fbede6;
    font-size: x-small;
    line-height: 1.3em;
    border-top: 5px solid #f1ccbb;
    border-bottom: 5px solid #f1ccbb;
    margin: 1px auto 1px auto;
    padding: 1px;
    width: 99%;
    white-space: nowrap;
    overflow: auto;
    max-height: 24em;
}

.quoteheader, .codeheader {
    color: #000000;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: x-small;
    line-height: 1.2em;
}

.help {
    cursor: help;
}

.meaction {
    color: red;
}

.editor {
    width: 96%;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}

.windowbg {
    background-color: #ffffff;
}

.windowbg2 {
    background-color: #f6f6f6;
}

.windowbg3 {
    background-color: #f0f0f0;
}

.calendar_today {
    background-color: #f5f5f5;
}

.titlebg, tr.titlebg th, tr.titlebg td, .titlebg2, tr.titlebg2 th, tr.titlebg2 td {
    color: #454545;
    font-style: normal;
    background: #f9f9f9;
    border-bottom: solid 1px #f2f2f2;
    border-top: solid 1px #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 18px;
}

.titlebg, .titlebg a:link, .titlebg a:visited {
    font-weight: bold;
    color: #454545;
    font-style: normal;
    font-size: 12px;
}

.titlebg a:hover {
    color: #404040;
}

.titlebg2 a:link, .titlebg2 a:visited {
    color: #454545;
    font-style: normal;
    text-decoration: underline;
}

.titlebg2 a:hover {
    text-decoration: underline;
}

.catbg, tr.catbg td, .catbg3, tr.catbg3 td {
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
    background: #E5E5E5 url(images/catbg.gif) repeat-x;
	font-weight:bold;
}

.catbg2, tr.catbg2 td {
    color: #404040;
    padding-left: 10px;
    padding-right: 10px;
    background: #dedede url(images/catbg.gif) repeat-x;
}

.catbg, .catbg2, .catbg3 {}

.catbg, .catbg2 {
    font-weight: bold;
    font-size: 12px;
}

.catbg3, tr.catbg3 td, .catbg3 a:link, .catbg3 a:visited {
    font-size: 95%;
	font-weight:bold;
    color: #666;
    text-decoration: none;
}

.catbg a:link, .catbg a:visited, .catbg2 a:link, .catbg2 a:visited {
    color: #454545;
    text-decoration: none;
}

.catbg a:hover, .catbg2 a:hover, .catbg3 a:hover {
    text-decoration: underline;
}

.bordercolor {
    background-color: #725548;
    padding: 0px;
}

.tborder {
    padding: 1px;
    /*border: 1px solid #ccc;*/
	width:100%;
}

.tborder td{padding-left:10px;border: 1px solid #ccc;}

.smalltext {
    font-size: 90%;
    font-family: verdana, sans-serif;
}

.middletext {
    line-height: 18px;
    text-indent: 10px;
}

.normaltext {
    font-size: small;
}

.largetext {
    font-size: large;
}

.post, .personalmessage {
    width: 100%;
    overflow: auto;
    line-height: 1.3em;
}

.signature {
    width: 100%;
    overflow: auto;
    padding-bottom: 3px;
    line-height: 1.3em;
}

.error {
    color: red;
}

.maintab_first, .maintab_back, .maintab_last, .maintab_active_first, .maintab_active_back, .maintab_active_last, .mirrortab_first, .mirrortab_back, .mirrortab_last, .mirrortab_active_first, .mirrortab_active_back, .mirrortab_active_last {
    color: #070707;
    vertical-align: top;
    text-transform: uppercase;
}

.maintab_back, .maintab_active_back, .mirrortab_back, .mirrortab_active_back {
    color: #090909;
    text-decoration: none;
    font-size: 9px;
    font-family: tahoma, sans-serif;
    padding: 5px 10px 5px 10px;
}

.maintab_first,.mirrortab_first {
    display: none;
}

.maintab_back,.mirrortab_back {}

.maintab_last,.mirrortab_last {
    display: none;
}

.maintab_active_first, .mirrortab_active_first {
    display: none;
}

.maintab_active_back, .mirrortab_active_back {
    background: #efefef;
    border-left: 4px solid #a90329;
}

.maintab_active_last, .mirrortab_active_last {
    display: none;
}

.maintab_back a:link, .maintab_back a:visited, .mirrortab_back a:link, .mirrortab_back a:visited {
    color: #252525;
    text-decoration: none;
    font-weight: bold;
}

.maintab_active_back a:link, .maintab_active_back a:visited, .mirrortab_active_back a:link, .mirrortab_active_back a:visited {
    color: #272727;
    text-decoration: none;
    font-weight: bold;
}

.maintab_back a:hover, .maintab_active_back a:hover, .mirrortab_back a:hover, .mirrortab_active_back a:hover {
    text-decoration: underline;
}

#ajax_in_progress {
    background: #32CD32;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    padding: 3px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#wrapper {
    width: 950px;
    min-width: 720px;
    margin: 0 auto;
    padding: 0;
}

#bodybg {
	background: #5f5e5e url(images/custom/body-bg.gif) 0 0 repeat-x;
	padding-top: 30px;
}

#shad-l {
    padding-left: 18px;
    background: url(images/custom/shadow-l.gif) 0 0 no-repeat;
}

#shad-r {
    padding-right: 18px;
    background: url(images/custom/shadow-r.gif) 100% 0 no-repeat;
}

#header {
    position: relative;
    height: 120px;
    overflow: hidden;
    background: #a60328 url(images/custom/header-bg.gif) 0 0 repeat-x;
}

#head-r {
    height: 120px;
    background: url(images/custom/header-r.gif) 100% 0 no-repeat;
}

#head-l {
    background: url(images/custom/header-l.gif) 0 0 no-repeat;
}

#logo {
    position: absolute;
    top: 0px;
    left: 20px;
    display: block;
    width: 400px;
    height: 120px;
    cursor: pointer;
    background: url(images/custom/logo.png) no-repeat;
}

#userarea {
    height: 73px;
    float: right;
    padding: 12px 25px 0 0;
    text-align: right;
    font-size: 1.0em;
    color: #ddd;
    font-family: tahoma, sans-serif;
}

#userarea a:link, #userarea a:visited {
    color: #eee;
}

#userarea a:hover {
    color: #ccc;
    text-decoration: underline;
}

#searcharea {
    float: right;
    padding: 5px 25px 0 0;
    margin: 0;
    clear: both;
}

#toolbar {
    margin: 0;
    padding: 0;
    height: 30px;
    background: #a60328;
}

#topmenu {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    font-size: 11px;
}

#topmenu ul {
    padding: 0 0 0 5px;
    margin: 0;
    list-style-type: none;
    width: auto;
    float: left;
}

#topmenu ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

#topmenu ul li a {
    float: left;
    display: block;
    margin: 0 0 0 2px;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 30px;
    color: #fcfcfc;
    background: #a90329 url(images/custom/topmenu-l.gif) 0 0 no-repeat;
}

#topmenu ul li a span {
    float: left;
    display: block;
    padding: 0 15px 0 7px;
    cursor: pointer;
    background: #a90329 url(images/custom/topmenu-r.gif) 100% 0 no-repeat;
}

#topmenu ul li a.current {
    color: #000;
    font-weight: bold;
    background: #fff url(images/custom/topmenu-active-l.gif) 0 0 no-repeat;
}

#topmenu ul li a.current span {
    display: block;
    width: auto;
    background: #fff url(images/custom/topmenu-active-r.gif) 100% 0 no-repeat;
}

#topmenu ul li a:hover {}

#topmenu ul li a:hover span {
    text-decoration: underline;
    display: block;
    width: auto;
}

#bodyarea {
    padding: 10px;
    margin: 0;
    background: #fcfcfc url(images/custom/bodyarea-bg.gif) 0 0 repeat-x;
}

#footer {
    background: #272727 url(images/custom/footer-bg.gif) 0 100% repeat-x;
}

#foot-r {
    height: 130px;
    background: url(images/custom/footer-r.gif) 100% 100% no-repeat;
}

#foot-l {
    background: url(images/custom/footer-l.gif) 0 100% no-repeat;
}

#footerarea {
    text-align: center;
    padding: 10px;
    color: #ccc;
}

#footerarea a:link, #footerarea a:visited {
    color: #a0a0a0;
}

#footerarea a:hover {
    color: #ccc;
    text-decoration: none;
}

.HeaderBG {
background:#16268E;
font-weight:bold;
color:#FFF;
}

.add {
	background:url(../images/irc-join.png) no-repeat 8px 8px;
	display:block;
}

.popuptext {
	color: white;
}

