@import url("reset.css");
@import url('tabie.css');

span.daftar,span.pengusulan, span.info, span.laporan, span.profil {
position:relative;
left:20px;
margin-bottom:-5px;
}

.newBook .contentTop {
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:337px;
float:left;
}

.newBook .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:335px;
margin-bottom:10px;
float:left;
position:relative;
top:-13px;
}

.bookDirectory .contentTop {
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:315px;
float:left;
}

.bookDirectory .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #D767676;
border-right:solid 1pt #767676;
width:313px;
margin-bottom:10px;
float:left;
position:relative;
top:-13px;
}

.searchBox .contentTop {
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:337px;
float:left;
}

.searchBox .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:335px;
margin-bottom:10px;
float:left;
position:relative;
top:-13px;
}

.searchBox {
width:337px;
padding-top:15px;
padding-bottom:10px;
margin:0 auto;
padding-right:2px;
}

.buttonSubmit {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Verdana, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin:7px 5px 5px 10px;
   float:left;
   }
.buttonSubmit:hover {
   border-top-color: #41a7eb;
   background: #41a7eb;
   color: #FFF;
   }
.buttonSubmit:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }