td
{
  /*border:solid 1px black;*/
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
}

body
{
  /*border:solid 1px black;*/
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  margin:0px;
  background-color:#333333;
}

div
{
	
}

h5
{
	color:#FF6704;
	font-size:9pt;
	margin:0px;
	font-weight:bold;
}

.userField
{
	border:solid 1px #333333;
	background-image:url(../images/user_field_bg.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.userFieldHover
{
	border:solid 1px #F88437;
	background-image:url(../images/user_field_bg.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.passField
{
	border:solid 1px #333333;
	background-image:url(../images/pass_field_bg.gif);
	background-position:center;
	background-repeat:no-repeat;
}

.passFieldHover
{
	border:solid 1px #F88437;
	background-image:url(../images/pass_field_bg.gif);
	background-position:center;
	background-repeat:no-repeat;
}

a:active, a:link, a:visited
{
    color:#F88437;
	text-decoration:none;
	font-weight:bold;
}

a:hover
{
	color:#F88437;
	text-decoration:underline;
	font-weight:bold;
}

div
{
	/*border:solid 1px #FFFFFF;*/
}

#thePage
{
	border:solid 1px red;
	width:1022px;
	background-image:url(../images/page_bg2.gif); 
	background-attachment:scroll; 
	background-position:center center;
	border-left:solid 1px #333333;
	border-right:solid 1px #333333;
	padding-top:29px;
	height:550px;
	position:relative;
	
}

#loginPane
{
	position:absolute;
	bottom:0px;
	left:3px;
}

#articlePane
{
	max-height:83px;
	max-width:544px;
	height:83px;
	width:544px;
	position:absolute;
	left:84px;
	top:108px;
	overflow:hidden;
	
}

.article
{
	height:83px;
	overflow:hidden;
}

#dateBox
{
	position:absolute;
	right:80px;
	top:25px;
	width:300px;
	text-align:right;
}

#loginBox
{
	position:absolute;
	left:629px;
	top:33px;
}

#loginer
{
	width:232px;
	max-width:232px;
	height:56px;
	max-height:56px;
	position:absolute;
	left:37px;
	top:45px;
	vertical-align:top;
}

#addressBox
{
	position:absolute;
	right:80px;
	top:175px;
	width:300px;
	text-align:right;
}

#footerBox
{
	position:absolute;
	/*width:100%;*/
	width:1020px;
	bottom:15px;
	font-size:7pt;
	text-align:center;
}
