/* gaya (style) untuk list (pager) */

body,td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

ul{
list-style-type:none;
padding-left:10px;
padding-right:5px;
margin-top:0px;
}

li.menu {
font-size:10pt;
color:#882d00;
font-weight:bold;
}

li.menu a{
text-decoration:none;
color:#012869;
}

li.menu a:hover {
text-decoration:underline;
}

li.menuSub {
font-size:8pt;
font-weight:normal;
color:#313131;
}

li.menuSub a {
color:#313131;
text-decoration:none;
}

li.menuSub a:hover {
text-decoration:underline;
color:#1A5DCC;
font-weight:bolder;
}

li.menuSub a:active {
text-decoration:underline;
color:#1CAE56;
font-weight:bolder;
}


table.tableku {
  border-collapse : collapse;
  padding-left     : 10px;
  padding-right    : 8px;
  padding-top      : 3px;
  padding-bottom   : 3px;
  border-collapse: collapse;
  border			: 2px solid brown;
}


td.cetak {
	border-bottom		: none;
}
input
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px solid #969BA5;
	height: 19px;
	background-color: #ffffff;
}

th {
  background-color : #1b2e5f;
  padding-left     : 10px;
  padding-right    : 8px;
  padding-top      : 3px;
  padding-bottom   : 3px;
  /*border           : 1px solid #969BA5;  */
  /*text-align       : left; */
  color            : #FFFFFF;
  font-size        : 11;
}
td.transkiri {
	font-size: 11px;
	font-weight: bold;
	padding: 0px 4px;	
	color:#333;
	background-color:#e6d3d6;
	border:thin solid #FFF;

}

td.transkiriLast {
font-size: 11px;
	font-weight: bold;
	padding: 0px 4px;	
	color:#333;
	background-color:#e6d3d6;
	border-top: solid thin #FFF;
	border-left: solid thin #FFF;
border-bottom:solid thin #FFF;
}

td.transkanan {
	font-size: 11px;
	padding: 0px 4px;	
	color:#333;
	border: solid thin #FFF;
	background-color:#efefef;
}

td.transkananLast {
font-size: 11px;
	padding: 0px 4px;	
	color:#333;
	border-top: solid thin #FFF;
	border-left: solid thin #FFF;
	border-right: solid thin #FFF;
border-bottom:solid thin #FFF;
background-color:#efefef;
}

table.transaksi {
	/*border-top: solid thin brown;*/
	border-bottom: none;

}

table.instan {
	/*border-top: solid thin #00CCFF;
	border-left: solid thin #00CCFF;
	border-right: solid thin #00CCFF;
	border-bottom: solid thin #00CCFF;*/
}

.selesai {
	border-top: solid thin #00CCFF;
	border-left: solid thin #00CCFF;
	border-right: solid thin #00CCFF;
	border-bottom: solid thin #00CCFF;
	cursor: pointer;
}

.selesaiH {
background-position:0px -19px;
}

div.paging {
	padding     : 2px;
	margin      : 2px;
	text-align  : center;
	font-family : Tahoma;
	font-size   : 12px;
}
div.paging a {
	padding             : 2px 6px;
	margin-right        : 2px;
	border              : 1px solid #DEDFDE;
	text-decoration     : none; 
	color               : #0061DE;
	background-position : bottom;
}
div.paging a:hover {
	border : 1px solid #000000;
	color  : #0061DE;
}
div.paging span.current {
	padding      : 2px 6px;
	margin-right : 2px;
	font-weight  : bold;
	color        : #FF0084;
}
div.paging span.disabled {
	padding      : 2px 6px;
	margin-right : 2px;
	color        : #ADAAAD;
	font-weight  : bold;
}
div.paging span.prevnext {
  font-weight : bold;
}
div.paging span.prevnext a {
  border : none;
}
div.paging span.prevnext a:hover {
	border : 1px solid #000000;
	color  : #0061DE;
}

.ControlStyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	z-index: -10;
}

.ControlBlank {
	font-family: Times New Roman;
	font-size: 11pt;
	border: 0px;
	z-index: -10;
}

.ControlStyleT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	border: 1px solid #999999;
	z-index: -10;
	height: 30px;
}

.SearchStyle {
	/*font-family:  Verdana, Arial, Helvetica, sans-serif;*/
	font: 18px Verdana, Arial, Helvetica, sans-serif bold;
	/*font-size: 8pt;*/
	border: 1px solid #999999;
	z-index: -10;
	height: 30px;
}

.ControlErr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	background-color: yellow;
	color: red;
	z-index: -10;
}

.ControlRead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	background: #F0D9B3;
	z-index: -10;
}

.ControlReadX {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	background: #E3EBEF;
	z-index: -10;
}

.ControlRead disabled {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	border: 1px solid #999999;
	background-color: #E0EEFB;
	z-index: -10;
}

.EnabledButton
{
	color:			#FFFFFF;
	font-weight:	bold;
	font-size:	8pt;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F72C7, endColorstr=#A5B6FA); 
	background-color : #3F72C7;
	
}

.DisabledButton {
	color : #A8A8A8;
	font-weight:bold;
	font-size:	8pt;
	background-color: #cccccc;
}

.FilterDialog
{
	color : white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	display : none;
	position : absolute;
	background-color: #00CC66;
	filter: Alpha(Opacity=85);
	border:1px outset buttonface;
}
/*
.FilterText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border:1px groove buttonface;
	height:22px;
	background-color: #CCFFCC;
}
*/
.ShadowStyle 
{
	FONT-WEIGHT: bold; FILTER: Alpha(Opacity=100) DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1); COLOR: #000000; TEXT-DECORATION: none
}

/*.GridStyle 
{
	/*border:5px solid #666666;
	border-collapse: collapse;
	/*border-collapse:separate;
}*/

.HeaderBG {
	/*color: #0293DB;*/
	color:#663300;
	font-size: 14px;
	font-weight:bold;
	text-align:left;
	padding: 8px 4px 8px 32px;
	background: url("../images/head_table_icon.png");
	background-position:left;
	background-repeat:no-repeat;
	/*
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#0293db, endColorstr=#0293db); 
	background-color: #0293db; /* kalau gagal pakai filter */
}

.SubHeaderBG {
	color: #FFFFFF;
	font-weight: bold;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0293db, endColorstr=#98d4f6); 
	background-color : #98d4f6; /* kalau gagal pakai filter */
}
/*
.NormalBG {
	background-color : #ffffff;
}

.AlternateBG { 
	background-color : #e2f1fa;
}*/

.PagerBG {
	color:#333333;
	font-size: 12px;
	font-weight:bold;
	text-align:left;
	padding: 8px 4px 8px 20px;
	background: url("../images/pager_icon.png");
	background-position:left;
	background-repeat:no-repeat;*/
	/*
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#0293db, endColorstr=#0293db); 
	background-color: #0293db; /* kalau gagal pakai filter */
}

.FixedHeader
{
	position:relative;
	top:expression(this.offsetParent.scrollTop-2);
}

.FixedFooter
{
	position:relative;
	top:expression(this.offsetParent.clientHeight-this.offsetParent.scrollHeight+this.offsetParent.scrollTop);
}

.combo
{
	font-family:"Courier New";
	font-size:8pt;
}

.textField
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.GreenBG 
{
	background-color:#00AA66;
	color : white;
}

.GrayBG 
{
	background-color : whitesmoke;
}

.BlueBG 
{
	background-color : #9FFFFF;
}

.OvButton
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	background:url(../images/tombol/button.jpg) repeat-x;
	height:20px;
	padding-top:3px;
	text-align:center;
	/*border: 1px solid #000;*/
}

.out {
background:url(../images/tombol/out.png) no-repeat;
height:16px;
width:16px;
padding-right:5px;
padding-left:4px;
float:left;
position:relative;
top:-1px;
}

/* button ketika onMouseHover */
.OvButtonH
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight:bold;
	background:url(../images/tombol/button_over.jpg) repeat-x;
	height:20px;
	padding-top:3px;
	text-align:center;
	/*border: 1px solid #000;*/
}

.RedBG 
{
	background-color : red;
}
.RedBG 
{
	/* background-color : #FF8C80; */
	background-color : red;
	color : white;
}

/* tambahan */

.PageTitle {
	color:#003366;
	font-size:16px;
	font-weight:bold;
}

/*.SubHeaderBGAlt {
	color:#0293DB;
	font-weight:bold; 
	background-color:#C2E5FA;
}*/

/* testing */
.GridStyle
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45 45 45 45;
	width: 480px;
	text-align: left;
	border-collapse: collapse;*/
}

table.GridStyle
{
	background-color: #ffffff;
	background-image: url('../images/grey-bar.gif');
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 0pt 0pt;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d2d2d2;
	border-right-color: #d2d2d2;
	border-bottom-color: #d2d2d2;
	border-left-color: #d2d2d2;
	border-top-width: 0pt;
	border-right-width:1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	padding-top: 16px;
	padding-right: 11px;
	padding-bottom: 13px;
	padding-left: 14px;
	margin-bottom: 15px;
	display: inline-block;
	position:relative;
	border-collapse: collapse;
	-moz-border-radius:5px;
}

.SubHeaderBGAlt
{
	font-size: 11px;
	font-weight: bolder;
	padding: 0px 4px;
	height: 22px;
	/*color: #039;*/
	color:#FFFFFF;
	border: 1px solid #ADC7E1;
	background: url('../images/back2.gif')/* repeat-x center left*/;
}

.GridStyle tr
{
	padding: 8px;
	/*color: #669;*/
	color:#000000;
	border-bottom: 1px solid #fff;
}

.GridStyle tr.NormalBG:hover td, .GridStyle tr.AlternateBG:hover td
{
	/*padding: 8px;*/
	/*background:#f6b143;*/
	background:#FFFB3F;

}

.NormalBG
{
	background:#FFFFFF; 
	  /*border           : 1px solid brown;*/
}

.NormalBG td {
border:1px solid #ADC7E1;

}

.AlternateBG 
{
	/*background: #e3ebef;*/
	background: #F2F2FF;
	  /*border           : 1px solid brown;*/
}

.AlternateBG td {
border:1px solid #ADC7E1;
}

.OtherBG td {
border-right:1px solid #FFF;
}

.OtherBG 
{
	/*background: #e3ebef;*/
	background: #FFCCCC;
	  /*border           : 1px solid brown;*/
}

.MenuStyle
{
	border: #0099FF;
	border-collapse:collapse;
}

.LeftColumnBG
{
	font-size: 11px;
	font-weight: bold;
	padding: 0px 4px;	
	color:#333;
	background-color:#e5e5e5;
	/*background-color:#e6d3d6;	*/
	border: 1px solid #fff;
}

.MoreDetail
{
	padding     : 2px;
	margin      : 2px;
	text-align  : center;
	font-family : Courier New;
	font-size   : 12px;
}

.searchLeft {
background:#ededed;
}

.searchRight {
/*background:#f0ecdf;*/
background:#fff;
}

.resultTitle {
font-weight:bold;
font-size:12px;
}

.resultH {
background:#e2dac0;
}

.resultDesc {
font-size:11px;
color:#858783;
}

.resultSubB {
font-size:11px;
color:#1d1d1d;
}

.resultSub {
font-size:11px;
color:#474747;
}

.eksHead {
font-size:11px;
color:#1d1d1d;
font-weight:bold;
}

.resultAvailable {
color:#27b900;
}

.resultUnavailable {
color:#ff0000;
}

.resultAlert {
color:#FF0000;
font-weight:normal;
}


div.jqmNotice img.jqResize {position: absolute; right: 2px; bottom: 2px;}

/* Notice CSS courtesy of;
   Alexandre Plennevaux <alexandre@pixeline.be>,
   Brice Burgess <bhb@iceburg.net> */

div.jqmNotice {
    display: none;
    
    position: relative;
    
    width: 320px;
  background:#FFFFCC url(notice/note_icon.png) 5px 5px no-repeat;
    border: 1px solid #000;
    padding: 0;
}

.jqmnTitle{margin: 0 25px;}
  
.jqmnTitle h1{
  margin: 5px 0;
  padding-left:5px;
  width: 100%;
  
  font-size:10px;
  color:#FFFFCC;
  background-color:#505050;
}

div.jqmNotice .jqmClose {
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 6px;
}

.jqmnContent{
  border-top:1px;
  color:#000;
  font:12px/18pt Comic Sans, Comic Sans MS, cursive;
  padding:0 20px 5px;
}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 40%;
    left: 65%;
    
    margin-left: -300px;
    width: 250px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

table.dataGrid
{
	background: white;
	border-collapse: collapse;
}

table.dataGrid th, table.dataGrid td
{
	font-size: 11px;
	border: 1px #cbdad5 solid;
	padding: 0.3em;
}

table.dataGrid th
{
	/*background: #FFD787;*/
	background: #3660A8;
	text-align: center;
}

table.dataGrid th a
{
	color: #555;
	text-decoration: none;
}

table.dataGrid th a:hover
{
	color: #333;
	border-bottom: 1px solid gray;
}

table.dataGrid tr.odd
{
	background: #f7f9f4;
}

table.dataGrid tr.bold
{
	color:#007d3f;
	font-weight:bold;
}

table.dataGrid tr a
{
    color:#555;
    font-size:8pt;
}

table.dataGrid tr.bold a
{
    color:#555;
    font-size:8pt;
    font-weight:bold;
}

table.dataGrid tr:hover
{
    background-color:#bad9fe;
}

table.dataGrid td:hover a
{
    color:#650b01;
}

table.dataGrid td
{
	text-align:left;
	vertical-align:top;
}

.popWindow {
	background-color:#e0ffdf;
	border:2px solid #efefef;
	border-right:2px solid #777;
	border-bottom:2px solid #777;
	display:none;
	position:absolute;
	text-align:left;
}

.popWindow h3 {
	padding:3px;
}

.popWindowtr {
	/*background-color:#993300;*/
	background-color:#022869;
}

.loginBox {
width:301px;
height:255px;
-moz-border-radius:4px;
background: -moz-linear-gradient(top, #f8f8f8, #eee);
border: 1pt solid #ccc;
margin-top:25px;
}

.loginTitle {
margin:10px;
background: -moz-linear-gradient(top, #f7b74f, #f6ad35);
-moz-border-radius:4px;
border:1pt solid #e78f08;
width:245px;
height:28px;
padding:8px 17px 5px 17px;
float:left;
}

.loginContent {
width:281px;
height:162px;
padding:15px 10px;
float:left;
}


