@import url('reset.css');
@import url('tab.css');
@import url('webpages.css');
@import url('pager.css');

body {
background:#3F3F3F;
font-family:Verdana, Helvetica, Arial, sans-serif;
}

a {
text-decoration:none;
}

.header {
background:url(../images/header_02.jpg);
width:100%;
height:97px;
}

.mainHeader {
margin:0 auto;
width:992px;
height:97px;
}

.lampu {
background:url(../images/lampu_02.png) no-repeat;
height:97px;
width:143px;
float:left;
}

.logo {
background:url(../images/logo_ubaya_08.png) no-repeat;
width:85px;
height:97px;
float:left;
position:relative;
left:-35px;
}

.banner {
background:url(../images/banner_05.png) no-repeat;
width:205px;
height:89px;
float:left;
position:relative;
left:-25px;
}

.topButton {
padding-left:25px;
padding-top:20px;
float:left;
}

#button {
width:75px;
height:auto;
float:left;
padding-left:25px;
color:#FFF;
font-size:11px;
text-align:center;
}

#button a{
color:#FFF;
text-align:center;
float:left;
}

#button span {
height:32px;
width:75px;
margin:0 auto;
padding-bottom:5px;
float:left;
}

.navigation {
background:url(../images/kayu_04.jpg) repeat-x;
height:18px;
}

.mainNav {
width:992px;
margin:0 auto;
}

.topNav a{
color:#FFF;
font-size:12px;
float:right;
padding:2px 0px 0px 35px;
}

.imgHome {
background:url(../images/home.png) no-repeat;
height:18px;
width:16px;
float:left;
padding-right:5px;
position:relative;
top:-2px;
}

.imgOut {
background:url(../images/out.png) no-repeat;
height:18px;
width:16px;
float:left;
padding-right:5px;
position:relative;
top:-2px;
}

.center {
margin:0 auto;
width:992px;
}

.wrapper {
background:url(../images/content_wrapp_14.jpg) repeat-y;
width:992px;
margin-top:20px;
margin-bottom:20px;
float:left;
}

.sidebar {
width:263px;
float:left;
}

.sideColumn {
padding-top:15px;
float:left;
padding-bottom:10px;
}

.sideColumnTop {
background:url(../images/sidebar_top_18.jpg) no-repeat;
width:256px;
height:28px;
margin-left:5px;
float:left;
}

.sideColumnCont {
background:url(../images/sidebar_cont_21.jpg) repeat-y;
width:256px;
margin-left:5px;
padding-bottom:5px;
float:left;
}

.sideColumnContNews {
background:url(../images/sidebar_cont_21.jpg) repeat-y;
width:256px;
margin-left:5px;
padding-bottom:5px;
float:left;
height:125px;
}


.sideColumnBot {
background:url(../images/sidebar_bot_23.jpg) no-repeat;
width:256px;
height:8px;
margin-left:5px;
float:left;
}

.loginForm {
border:solid 1pt #0366b2;
margin-left:5px;
}

.controlStyle {
font-size:11px;
margin-top:5px;
margin-left:1px;
}

.input {
margin-top:10px;
float:left;
}

.inputUser {
font-size:12px;
color:#0366b2;
padding-left:10px;
vertical-align:middle;
}

.buttonLogin {
background:url(../images/button_login_11.gif) no-repeat;
height:17px;
width:51px;
padding-bottom:5px;
}

.menuTitle {
font-size:15px;
font-weight:bolder;
color:#0366b2;
padding-left:10px;
float:left;
}

.sideColumnCont p{
width:233px;
padding-left:10px;
padding-top:10px;
float:left;
}

.newsTitle {
font-size:12px;
color:#FF8400;
font-style:italic;
float:left;
}

.statTitle {
width:233px;
font-size:11px;
color:#FF8400;
}

.primary {
width:675px;
padding-left:45px;
float:left;
}

.primaryMenu {
float:left;
width:300px;
height:auto;
padding:30px 0px 0px 10px;
}

.primaryMenuIcon {
float:left;
width:48px;
height:75px;
padding-right:15px;
}

.primaryMenuLink {
color:#005742;
font-size:12px;
font-weight:bold;
}

.primaryMenuLink a {
text-decoration:none;
color:#005742;
padding-top:15px;
display:block;
}

.primaryMenuLink ul li a {
padding-left:15px;
color:#005742;
font-size:12px;
font-weight:normal;
padding-top:5px;
display:block;
}

.contentTop{
background:url(../images/content_top_14.jpg) repeat-x;
height:5px;
width:inherit;
float:left;
}

#ret_div {
font-size:12px;
}

.profile {
width:650px;
float:left;
padding-top:15px;
}

.profile .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:628px;
margin-bottom:10px;
padding-left:20px;
float:left;
}

.bookDetail {
width:650px;
float:left;
padding-top:15px;
}

.bookDetail .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:648px;
margin-bottom:10px;
float:left;
}

.newBook .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:335px;
margin-bottom:10px;
float:left;
}

.newBook {
width:337px;
float:left;
padding-top:10px;
}

.newShowcase {
width:100px;
height:150px;
padding:15px 0px 15px 10px;
float:left;
}

.showcaseDetail {
width:inherit;
height:auto;
font-size:12px;
color:#0366b2;
padding-left:15px;
float:left;
}

.bookDirectory {
float:left;
width:315px;
padding-left:15px;
padding-top:10px;
}

.bookDirectory .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:313px;
margin-bottom:10px;
float:left;
}

.searchBox {
width:337px;
padding-top:25px;
padding-bottom:10px;
margin:0 auto;
}

.searchBox .contentContainer {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:335px;
margin-bottom:10px;
float:left;
}

.searchBoxCom {
width:400px;
padding-top:25px;
padding-bottom:10px;
margin:0 auto;
}

.searchBoxCom .contentContainerCom {
border-left:solid 1pt #767676;
border-bottom:solid 1pt #767676;
border-right:solid 1pt #767676;
width:400px;
margin-bottom:10px;
float:left;
}

.buttonSubmit {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Verdana, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin:7px 5px 5px 10px;
   float:left;
   }
.buttonSubmit:hover {
   border-top-color: #41a7eb;
   background: #41a7eb;
   color: #FFF;
   }
.buttonSubmit:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.leftDir {
width:144px;
float:left;
}

.rightDir {
width:140px;
float:left;
padding-left:5px;
}

#load {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(../images/ajax-loader.gif);
	width: 43px;
	height: 11px;
	text-indent: -9999em;
}

.footer {
text-align:center;
padding-left:220px;
padding-bottom:10px;
float:left;
}

.footerBlock {
color:#FFF;
font-size:10px;
padding:0px 10px;
border-right:solid 1pt #FFF;
width:auto;
height:40px;
float:left;
}

.WorkHeader {
	background:#015593 /*--color id 01--*/ ;
	border-top:1px solid #CCCCCC;
	font-size:12px;
	height:37px;
	width:100%;
}