#main {
	border: 1px solid #c1c1c1;
	clear: both;
	/*background: #6699CC;
	background: #1b2e5f;*/
	background: #E0FFF3;
	padding-top: 2em;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	
}

#contents {
	padding: 1.5em;
	/*background:#F3F3F3;
	background:#f4f2e6;*/
	background:#fff;
	min-height: 300px;
}

#header {
	position: relative;
	width: 100%;
	height: 3em;
	/* width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	/* width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
	display: inline-block;
	list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 11px;
	/*font-size: 85%;*/
	text-decoration: none;
	color: #333;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
	/*border: 1px solid #1b2e5f;
	border-bottom: none;*/
	color:#FFF;
	/*background: #6699CC;*/
	background: #015593;
	padding-bottom: 6px;
	margin-top: 0;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

#header ul#primary a {
	/*background: #D4E6F7;*/
	background: #7A888F;
	color:#FFF;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header ul#primary a:hover {
	margin-top: 0;
	/*color: #FFF;*/
	border-color: #AAA;
	color:#fff;
	padding-bottom: 5px;
}

#header ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.8em;
	left: 1px;
	width: 120em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#secondary li a,#header ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#header ul#secondary li a {
	color: #333;
}

#header ul#secondary li a:hover {
	color: #666;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
	text-decoration:underline;
}

#header ul#secondary li a:active {
	color: #999;
	background: transparent;
}

#header ul#secondary li a.noclick {
	/* cursor: default; */
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

#header ul#secondary li:last-child a { border: none; }


/**secondaryx**/
#header ul#secondaryx {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#secondaryx li a,#header ul#secondaryx li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#header ul#secondaryx li a {
	color: #FFF;
	text-decoration: underline;
}

#header ul#secondaryx li a:hover {
	color: #FFF;font-weight: bold;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

#header ul#secondaryx li a:active {
	color: #FFF;
	background: transparent;
}

#header ul#secondaryx li a.noclick {
	/* cursor: default; */
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#header ul#secondaryx li:last-child a { border: none; }

/**endofsecondaryx**/



.tabs ul
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin: 0;
	padding-left: 0;
	padding-bottom: 12px; 
	/* -moz-border-radius-topleft: 4px; */
	/* border-bottom: 1px solid #999999; */
}

.tabs ul li 
{
    display: inline;
	list-style: none;
    text-align: center;
    /*border: 1px solid #999999;*/
	margin: 2px 2px 0 0;
	float: left;
	padding: 4px 0px 4px 0px;
	background-color: ;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}

.tabs ul li a
{
	color: #6693c6;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
}

.tabs ul li a:hover
{
	color: #fff;
	background-color: #015593;
}

.tabs ul li.selected 
{
	background-color: #015593;
	color: #fff;
	border-bottom: none;
}

.tabs ul li.selected a
{
	color: #fff;
	
}
